<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong><br>
  <%= image_tag @feed.image,size:"320x480" %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
