<h1>What are you doing now?, <%= @user.name %>.</h1><br><br>

<div class="list-group">
<%= link_to "写真を投稿する", new_feed_path,class: "list-group-item" %>
<%= link_to "ユーザーの写真を見る",feeds_path,class: "list-group-item"%>
<%= link_to 'お気に入りの写真', users_path,class: "list-group-item" %>
</div>
