.topic li{
    margin:1%;
    border-bottom: dotted 1px #333333;
}

.container{
    margin-top:20px;
    padding-bottom: 100px;
}

.list-group {
    text-align:center;
}

.list-group a{
    padding:2%;
    font-size: 20px;
}

.new_picture{
    text-align:center;
}

img{
    padding: 1%;
}

.pc { display: block !important; }
.sp { display: none !important; }

@media only screen and (max-width: 700px) {
.pc { display: none !important; }
.sp { display: block !important; }
}

#feed_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.actions{
    margin: 30px;
}

h1{
    text-align:center;
    padding:5%;
}

h2{
    text-align:center;
    padding:3%;
  }

.login_form{
    text-align:center;
  }

h3{
    text-align:center;
}

h3 a{
    color:white;
}

td a{
    color:#4C64D3;
}

td{
    color:black;
}

h4 {
    text-align:center;
}

h4 a{
    color:#4C64D3;
}

.new_buttan a{
    color: white;
    background-color:#CF2E92;
    padding:1%;
}
.table{
    width: auto;
}

table {
    width: 80%;
    display: block;
    margin-left: 18%;
    padding:5%;
}

.well{
    background-color:#FDFAFD;
}

#pageTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#pageTop i {
  padding-top: 6px
}

#pageTop a {
  display: block;
  z-index: 999;
  padding: 8px 0 0 8px;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  background-color: #CF2E92;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

#pageTop a:hover {
  text-decoration: none;
  opacity: 0.7;
}
